@import './base.css';

/* variables de couleurs et de taille */
:root {
  --main-black: #1a1a1a;
  --main-orange: #ff6900;
  --light-grey: #efeff0;
  --dark-grey: #666666;
  --header-top-heigth: 32px;
  --header-bottom-heigth: 60px;
  --footer-heigth: 60px;
}

/* style global */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--main-black);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
h1 {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: bold;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 10px;
}
